
<section class="container">
    <p class="text-muted mt-5">Home / <span class="fw-bold">Cart</span></p>
<div class="container d-flex justify-content-center" >
<table class="table mt-3" style="border: 1px solid black;">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of CartProducts ; let i = index">
      <!-- <th scope="row">{{i+1}}</th> -->
      <td><img src="{{item.product.images[0]}}" width="50" alt=""> <span class="fw-bold">{{item.product.Name}}</span></td>
      <td>{{item.product.price}}</td>
      <td >
          <div class="quantity">
            <button #Increment (click)="DecrementQuantity(item , Increment)" class="main-btn" style="background-color: transparent; color: black; outline: 1px solid black;" >-</button>
            <span class="mx-2"> {{item.quantity}} </span>
            <button #Decrement (click)="IncrementQuantity(item , Decrement)" class="main-btn">+</button>
          </div>
      </td>
      <td>{{item.product.price * item.quantity}}</td>
      <td style="width: 20px;"><span
        class="btn btn-danger" (click)="removeFromTheCart(item.product._id)" ><i class="fa-solid fa-trash"></i></span></td>
    </tr>
    <tr>
      <th scope="row" colspan="4">Total</th>
      <td style="width: 100px;"  class="fw-bold">{{TotalPrice}} EGP</td>
    </tr>
  </tbody>
</table>

</div>

<button class="main-btn my-2 mx-2" style="background-color: transparent; color: #EA4335; outline: 1px solid #EA4335; ">Back To Shop</button>


</section>



<section class="container mt-4">

<div class="row">


<div class="col-0 col-lg-1"></div>

    <div class="col-12 col-lg-5">

        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Coupon Code" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="main-btn" data-mdb-ripple-init>Apply Coupon</button>
          </div>


    </div>
    <div class="col-12 col-lg-5">
      
<div class="Total-cart">
    <h5 class="fw-bold mb-2">Cart Total</h5>

<div class="d-flex justify-content-between align-items-center mt-3">
    <p>Subtotal</p>
    <p>{{TotalPrice}} EGP</p>
</div>

<hr>

<div class="d-flex justify-content-between align-items-center">
    <p>Shipping</p>
    <p>Free</p>
</div>
<hr>

<div class="d-flex justify-content-between align-items-center">
    <p>Total</p>
    <p class="fw-bold">{{TotalPrice}} EGP</p>
</div>


<div class="d-flex justify-content-center align-items-center">
    <button [disabled]="CartProducts.length < 1"  [routerLink]="['/paymentData' , cartId]" routerLinkActive="router-link-active"  class="main-btn">Proceed To Checkout</button>
</div>

</div>

    </div>
<div class="col-0 col-lg-1"></div>

</div>



</section>