.Total-cart {
    border: 1px solid black;
    padding: 15px;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 450px) {
    flex-direction: column-reverse;
    }

}

