<div>
    <section class="container" style="margin-top: 50px;"   >
        <div class="row" >
            <div class="col-12 col-lg-6 mt-4 mt-3">
                <img class="w-100" src="https://res-console.cloudinary.com/drkevmgk2/media_explorer_thumbnails/5c9035c3c2e80fe6d763507ff3b83e86/detailed" alt="">
            </div>
            <div class="col-12 col-lg-6 mt-4 mt-3">
                <img class="w-100" src="https://res-console.cloudinary.com/drkevmgk2/media_explorer_thumbnails/465cbd0859d155cb24f6133cbb5fc8eb/detailed" alt="">
    
            </div>
        </div>
    </section>
    
    <section class="container mt-5" style="margin-top: 10px;"  >
        <div class="row" >
            <div class="col-12 col-lg-3 mt-4 mt-3 Pointer p-3">
                <img class="w-100" src="./assets/About/sec2/Frame 870.png" alt="">
            </div>
            <div class="col-12 col-lg-3 mt-4 mt-3 Pointer p-3">
                <img class="w-100" src="./assets/About/sec2/Frame 871.png" alt="">
            </div>
            <div class="col-12 col-lg-3 mt-4 mt-3 Pointer p-3">
                <img class="w-100" src="./assets/About/sec2/Frame 872.png" alt="">
            </div>
            <div class="col-12 col-lg-3 mt-4 mt-3 Pointer p-3">
                <img class="w-100" src="./assets/About/sec2/Frame 873.png" alt="">
            </div>
        </div>
    </section>
    
    <section class="container" style="margin-top: 50px;" >
        <div class="row" >
            <div class="col-12 col-lg-4 mt-4 mt-3 Pointer p-3">
                <img class="w-100" src="https://res-console.cloudinary.com/drkevmgk2/media_explorer_thumbnails/7f5873510356a12c1bb9af468445189b/detailed" alt="">
            </div>
            <div class="col-12 col-lg-4 mt-4 mt-3 Pointer p-3">
                <img class="w-100" src="https://res-console.cloudinary.com/drkevmgk2/media_explorer_thumbnails/ba4c7c47230775e7fb70b3824d852ae9/detailed" alt="">
            </div>
            <div class="col-12 col-lg-4 mt-4 mt-3 Pointer p-3">
                <img class="w-100" src="https://res-console.cloudinary.com/drkevmgk2/media_explorer_thumbnails/a4f414d7fdbb3e670a628bce3d40d746/detailed" alt="">
            </div>
        </div>
    </section>
    
    <section class="container mb-5" style="margin-top: 50px;" >
        <div class="" >
        <img class="w-100" src="./assets/About/sec4/Full services.png" alt="">
        </div>
    </section>
</div>