<div>
  <section class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col-12 col-lg-6 mt-4 mt-3">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Our Story</h1>
                <p>
                  Launced in 2015, Exclusive is South Asia’s premier online shopping
                  makterplace with an active presense in Bangladesh. Supported by wide
                  range of tailored marketing, data and service solutions, Exclusive has
                  10,500 sallers and 300 brands and serves 3 millioons customers across
                  the region.
                </p>
        
                <p>
                  Exclusive has more than 1 Million products to offer, growing at a very
                  fast. Exclusive offers a diverse assotment in categories ranging from
                  consumer.
                </p>
            </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 mt-4 mt-3">
        <img
          class="w-100"
          src="./assets/About/1.png"
          alt=""
        />
      </div>
    </div>
  </section>

  <section class="container mt-5" style="margin-top: 10px">
    <div class="row">
      <div class="col-12 col-lg-3 mt-4 mt-3 Pointer p-3">
        <img class="w-100" src="./assets/About/2.png" alt="" />
      </div>
      <div class="col-12 col-lg-3 mt-4 mt-3 Pointer p-3">
        <img class="w-100" src="./assets/About/3.png" alt="" />
      </div>
      <div class="col-12 col-lg-3 mt-4 mt-3 Pointer p-3">
        <img class="w-100" src="./assets/About/4.png" alt="" />
      </div>
      <div class="col-12 col-lg-3 mt-4 mt-3 Pointer p-3">
        <img class="w-100" src="./assets/About/5.png" alt="" />
      </div>
    </div>
  </section>

  <section class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col-12 col-lg-4 mt-4 mt-3 Pointer p-3">
        <img
          class="w-100"
          src="./assets/About/6.png"
          alt=""
        />
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-3 Pointer p-3">
        <img
          class="w-100"
          src="./assets/About/7.png"
          alt=""
        />
      </div>
      <div class="col-12 col-lg-4 mt-4 mt-3 Pointer p-3">
        <img
          class="w-100"
          src="./assets/About/8.png"
          alt=""
        />
      </div>
    </div>
  </section>

  <section class="container mb-5" style="margin-top: 50px">
    <div class="">
      <img class="w-100" src="./assets/About/9.png" alt="" />
    </div>
  </section>
</div>
