<div class="container border">
<section class="hero-section my-3">
  <owl-carousel-o [options]="BannerOptions" class="w-100">
    <ng-container *ngFor="let slide of slidesStore" class="w-100">
      <ng-template carouselSlide class="w-100">
        <img  [src]="slide.src" [alt]="slide.alt" title="Black Friday">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>


<!-- Sale Products -->
<section>
    <h2 >Flash Sales</h2>
    <owl-carousel-o [options]="SaleProduct" class="w-100">
        <ng-container *ngFor="let Product of saleProducts ; let i = index" class="w-100">
          <ng-template carouselSlide >

            <app-product-cart [Product]="Product" [i] = "i" ></app-product-cart>


          </ng-template>
        </ng-container>
      </owl-carousel-o>
      <div class="w-100 d-flex justify-content-center">
        <button [routerLink]="['/Products' , 'FlashSale']"  class="main-btn">View All Products</button>
      </div>

</section>


<!-- Category -->
<section class="my-3">
    <h2 >Browse By Category</h2>
<div class="mt-3" >
    <div class="d-flex flex-wrap justify-content-center align-items-center">
        <div [routerLink]="['/category' , Category.Name]" class="card category Pointer hover my-3" *ngFor="let Category of Categories">
            <img [src]="Category.image" class="product-img" alt="">
            <h4 style="margin: auto;">{{Category.Name}}</h4>
        </div>
    </div>
</div>
</section>



<section class="my-5">
    <h2 >Best Selling Products</h2>
<div class="mt-5" >
    <div class="d-flex flex-wrap justify-content-center align-items-center flex-wrap">
            <!-- Product Cart -->
            <div *ngFor="let Product of BesSeller ; let i = index" style="position: relative;">
             
                <app-product-cart [Product]="Product" [i] = "i" ></app-product-cart>

              </div>
    </div>
</div>
</section>



<section class="my-5">
   <div>
    <img class="w-100" src="../../../assets/bannars/Frame 600 (1).png" alt="">
   </div>
</section>


<section class="my-5">
    <h2 >Explore Our Products</h2>
<div class="mt-5" >
    <div class="d-flex flex-wrap justify-content-center align-items-center flex-wrap">
        <!-- Product Cart -->
            <div *ngFor="let Product of AllProduct ; let i = index "  style="position: relative;">
                <app-product-cart [Product]="Product" [i] = "i" ></app-product-cart>
            </div>
    </div>
</div>

<div class="w-100 d-flex justify-content-center mt-4">
    <button [routerLink]="['/Products' , 'AllProducts']" class="main-btn">View All Products</button>
  </div>

</section>



<section class="my-5">
    <h2 >New Arrival</h2>
<div class="mt-5 row" >
<div class="col-12 col-lg-6">
    <img class="w-100" src="https://res-console.cloudinary.com/drkevmgk2/media_explorer_thumbnails/ab6262e2f13396b145c05359beb247e2/detailed" alt="">
</div>

<div class="col-12 col-lg-6 mt-3 mt-lg-0">
<div class="h-50">
    <img class="w-100" src="https://res-console.cloudinary.com/drkevmgk2/media_explorer_thumbnails/432a716eff6f3946d7f47a11b4370a04/detailed" alt="">
</div>

<div class="h-50 row" style="margin-top: 12px;">
    <div class="col-6">
    <img class="w-100" src="https://res-console.cloudinary.com/drkevmgk2/media_explorer_thumbnails/c2dc9e274c111b87c1b0d0437a26913b/detailed" alt="">
    </div>
    <div class="col-6">
    <img class="w-100" src="https://res-console.cloudinary.com/drkevmgk2/media_explorer_thumbnails/e134a4880ac0039840f06bed50a44e5b/detailed" alt="">

    </div>
</div>
</div>





</div>



</section>



<section class="my-5">
    <div>
        <img class="w-100" src="./assets/bannars/Frame 702.png" alt="">
    </div>
</section>


</div>