
<section class="container">
    <p class="text-muted mt-5">Home / <span class="fw-bold">Contact</span></p>
</section>

<section class="container">
    <div class="row">
        <div class="col-12 col-lg-3" >
            <div>
                <img src="../../../assets/contact/Frame 853.png" alt="">
                <p>We are available 24/7, 7 days a week.</p>
                <p>Phone : +201110351045</p>
            </div>
            <hr>
            <div>
                <img src="../../../assets/contact/Frame 857.png" alt="">
                <p>Fill out our form and we will contact you within 24 hours.</p>
                <p>Emails: ahmedsfwat069{{in}}gmail.com.com</p>
            </div>
        </div>

        <div class="col-0 col-lg-1"></div>
        <div class="col-12 col-lg-6">
            <form >

                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline">
                            <input type="text" id="form6Example1" class="form-control" placeholder="Name" />
                        </div>
                    </div>
                    <div class="col">
                        <div data-mdb-input-init class="form-outline">
                            <input type="text" id="form6Example2" class="form-control"placeholder="Email" />
                        </div>
                    </div>
                    <div class="col">
                        <div data-mdb-input-init class="form-outline">
                            <input type="text" id="form6Example2" class="form-control"placeholder="Phone" />
                        </div>
                    </div>
                </div>

              
                <!-- Message input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <textarea class="form-control" placeholder="Your Message" id="form4Example3" rows="4"></textarea>
                </div>
        
                <div class="d-flex justify-content-end">
                    <button data-mdb-ripple-init type="button" class="main-btn btn-block mb-4">Send message</button>

                </div>
              </form>
        </div>
        <div class="col-0 col-lg-2"></div>

    </div>
</section>