<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted footer-bg-col ">  
    <!-- Section: Links  -->
    <section class="">
      <div class="text-center text-md-start mt-5 text-col footer-bg-col p-5">
        <!-- Grid row -->
     <div class="container">
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                Exclusive
              </h6>
              <p>
                  Subscribe
              </p>
              <p>Get 10% off your first order</p>
              <div  class="w-100">
                  <form style="position: relative;" class="w-75 m-auto m-lg-0"   role="search">
                      <input class="form-control w-100" type="search" placeholder="Enter Your Email" aria-label="Search">
                      <div class="search-btn">
                          <svg class="rotate-icon w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 18-7 3 7-18 7 18-7-3Zm0 0v-5"/>
                            </svg>
                      </div>
                    </form>
              </div>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                  Support            
              </h6>
              <p>
                  ALexandria , Egypt
              </p>
              <p>
                  ahmedsfwat069
              </p>
              <p>
                  +201110351045
              </p>
              <p>
                <a href="#!" class="text-reset">Laravel</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                  Account            
              </h6>
              <p>
                <a  class="text-reset">My Account</a>
              </p>
              <p>
                <a  class="text-reset">Login / Register</a>
              </p>
              <p>
                <a class="text-reset">Cart</a>
              </p>
              <p>
                <a class="text-reset">Wishlist</a>
              </p>
              <p>
                  <a class="text-reset">Shop</a>
                </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                  Quick Link            
              </h6>
              <p><a class="text-reset">Privacy Policy</a></p>
              <p><a class="text-reset">Terms Of Use</a> </p>
              <p><a class="text-reset">FAQ</a></p>
              <p><a class="text-reset">Contact</a></p>
            </div>
            <!-- Grid column -->
  
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                  Download App            
              </h6>
              <p>Save $3 with App New User Only</p>
      
              <div class="d-block  d-xl-flex">
                  <div>
                      <img src="./assets/Qr Code.png" alt="">
                  </div>
                  <div style="width : 120px ;" class="w-100  mx-xl-2 my-2 my-xl-0 ">
                      <img style="width: 120px;" src="./assets/googleplay.PNG" alt="">
                      <img style="width: 120px;" src="./assets/playstore.PNG" alt="">
                  </div>
              </div>
  
              <div class="mt-3 d-flex justify-content-center justify-content-lg-start " >
                  <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
            </div>
            <!-- Grid column -->
          </div>
     </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 footer-bg-col text-muted" >
      © 2024S Copyright:
      <a class="text-reset fw-bold " href="">Copyright Ahmed Safwat 2024. All right reserved</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->