
a{
   cursor: pointer;
   text-decoration: none;
}

.footer-bg-col{
 background-color: black;
 color: #FFF;
}


.text-col {
    color: white;
}

.form-control{
    background-color: transparent;
    border: 1px solid #FFF !important;
    border-radius: 0 !important;
    color: #FFF;
 }


 .footer-Form-btn{
    position: absolute;
    right: 50px;
 }

 .rotate-icon{
    rotate: 90deg;
 }