/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'ngx-toastr/toastr';

$MainColor: #EA4335;
$main-transition: all 0.5s ease-in-out;
$main-font : 'Encode Sans Expanded', sans-serif;
$RatingColor: #FFD700;



body {
    margin: 0;
    font-family: $main-font;
}

.logo {
    font-weight: 600;
}
.badge-Color{
background-color: $MainColor;
color: #FFF;
position: absolute;
right: 0;
}
.d-flex-between{
    display: flex;  
   justify-content: space-between;
}

.d-flex-center{
    display: flex;  
   justify-content: center ;
   align-items: center;
   gap: 5px;
}

.Pointer {
    cursor: pointer;
}



.rating {
    color: $RatingColor;
}

 .font-small {
    font-size: 0.8rem;
 }

 .main-btn {
    background-color: $MainColor;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    transition: $main-transition;
    cursor: pointer;
    &:hover {
        background-color: #ea4435be;
        color: white;
    }

    &:disabled {
        background-color: rgba(128, 128, 128, 0.317);
        color: white;
        cursor: not-allowed;
    }
}

.ToCart {
    display: none;
    transition: display 2s ;
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-65%,-65%);
    cursor: pointer;
    width: 100%;
 
}  

.carWidth{
    width: 200px;
}

.product {
    border : 1px solid $MainColor ; 
    border-radius: 5px;
    padding : 10px;
    width: 250px;
    max-height: 300px;
    overflow: hidden;
    margin: 10px 10px;

    &:hover .ToCart {
        display: flex;
        justify-content: center;
        align-items: center
    }
}



.fa-solid.fa-heart {
    color:  #f9d1d1;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
  
    &.active {
      color: red;
    }
  }

  .fa-solid.fa-heart.color-red {
    color:  red;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
  
    &.active {
      color: #f9d1d1;
    }
  }


.product-img{
    width: 100%;
    height: 175px;
}

.category{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 0 5px;
    padding: 5px;

    &:hover{
        border: 3pxx solid black;
    }


}


.border{
   border: 2px solid black;
}

.background{
   background-color: red;
 }

 .search-btn{
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    right:5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
 }

 .search-Input{
    background-color: #f5f5f5;
    width: 100%;
    padding-right: 25px;
 }


.nav-route {
  color: black;
  cursor: pointer;
}


.active-Link{
font-weight: 700;
border-bottom: 2px solid black;

 }


/* Ensure Toastr is fixed at the bottom of the viewport */
.toast-bottom-right {
    position: fixed;
    bottom: 20px;  /* Adjust as needed */
    right: 20px;   /* Adjust as needed */
    z-index: 1050;
    pointer-events: none; /* Ensure toasts don't interfere with other UI interactions */
    width: auto; /* Optional: set the width as per your design */
  }
  
  /* Ensure individual toasts are styled correctly */
  .toast {
    margin-bottom: 10px; /* Space between multiple toasts */
    pointer-events: auto; /* Re-enable pointer events for the individual toasts */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  /* Ensure the body and html take full height and allow fixed positioning */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Optional: prevent horizontal scrolling */
  }



  .wishlist{
    &:hover{
        background-color: red;
        color: white;
    }
  }