<div class="container">
  <div class="row">
    <div class="col-12 mt-4" >
        <div>        
            <p>Account / MyAccount / Product / View Cart / <span class="fw-bold" >Checkout</span></p>
        </div>
    </div>

    <div class="col-lg-6 mb-5 mb-lg-0">
      <div class="h-100">
        <div class="py-5 px-md-5">
          <!-- title -->
          <div>
            <h2 class="mb-2">Billing Details</h2>
            <p>Enter your details below</p>
          </div>
          <form [formGroup]="BillingDetails" (ngSubmit)="onSubmit()">
            <!-- city input -->
            <div class="form-outline mb-4">
              <input
                type="city"
                id="form3Example3"
                class="form-control"
                placeholder="Town/City"
                formControlName="city"
              />

              <div
                class="bg-error"
                *ngIf="
                  BillingDetails.get('city')?.errors &&
                  BillingDetails.get('city')?.touched
                "
              >
                <p *ngIf="BillingDetails.get('city')?.errors?.['required']">
                  You must enter Your City
                </p>
              </div>
            </div>

            <!-- street input -->
            <div class="form-outline mb-4">
              <input
                type="street"
                id="form3Example4"
                class="form-control"
                placeholder="street"
                formControlName="street"
              />

              <div
                class="bg-error"
                *ngIf="
                  BillingDetails.get('street')?.errors &&
                  BillingDetails.get('street')?.touched
                "
              >
                <p *ngIf="BillingDetails.get('street')?.errors?.['required']">
                  You must enter your street
                </p>
              </div>
            </div>

            <!-- building input -->
            <div class="form-outline mb-4">
              <input
                type="building"
                id="form3Example4"
                class="form-control"
                placeholder="building"
                formControlName="building"
              />

              <div
                class="bg-error"
                *ngIf="
                  BillingDetails.get('building')?.errors &&
                  BillingDetails.get('building')?.touched
                "
              >
                <p *ngIf="BillingDetails.get('building')?.errors?.['required']">
                  You must enter your building
                </p>
              </div>
            </div>

            <!-- floor input -->
            <div class="form-outline mb-4">
              <input
                type="floor"
                id="form3Example4"
                class="form-control"
                placeholder="floor"
                formControlName="floor"
              />

              <div
                class="bg-error"
                *ngIf="
                  BillingDetails.get('floor')?.errors &&
                  BillingDetails.get('floor')?.touched
                "
              >
                <p *ngIf="BillingDetails.get('floor')?.errors?.['required']">
                  You must enter your floor
                </p>
              </div>
            </div>

            <!-- Phone input -->
            <div class="form-outline mb-4">
              <input
                type="Phone"
                id="form3Example4"
                class="form-control"
                placeholder="Phone"
                formControlName="Phone"
              />

              <div
                class="bg-error"
                *ngIf="
                  BillingDetails.get('Phone')?.errors &&
                  BillingDetails.get('Phone')?.touched
                "
              >
                <p *ngIf="BillingDetails.get('Phone')?.errors?.['required']">
                  You must enter your Phone
                </p>
                <p *ngIf="BillingDetails.get('Phone')?.errors?.['pattern']">
                  You must enter a valid Egyptian Phone
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="col-lg-6 mb-5 mb-lg-0 d-flex justify-content-center align-items-center py-5 px-md-5"
      style="flex-direction: column; padding: 20px 0"
    >
      <div
        *ngFor="let item of CartProducts; let i = index"
        style="width: 80%"
        class="d-flex justify-content-between align-items-center mb-3"
      >
        <!-- <th scope="row">{{i+1}}</th> -->
        <div>
          <img src="{{ item.product.images[0] }}" width="40" alt="" />
          <span>{{ item.product.Name }}</span>
        </div>
        <div>{{ item.product.price * item.quantity }}EGP</div>
      </div>

      <div style="width: 80%">
        <div class="d-flex justify-content-between align-items-center mt-3">
          <p>Subtotal</p>
          <p>{{ TotalPrice }} EGP</p>
        </div>

        <hr />

        <div class="d-flex justify-content-between align-items-center">
          <p>Shipping</p>
          <p>Free</p>
        </div>
        <hr />

        <div class="d-flex justify-content-between align-items-center">
          <p class="fw-bold">Total</p>
          <p class="fw-bold">{{ TotalPrice }} EGP</p>
        </div>
      </div>

      <div
        class="mt-2 d-flex justify-content-between align-items-center"
        style="width: 80%"
      >
        <p class="fw-bold">Bank</p>
        <img src="./assets/payment.png" alt="" />
      </div>

      <div class="input-group mt-3" style="width: 80%">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Coupon Code"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <button type="button" class="main-btn" data-mdb-ripple-init>
          Apply Coupon
        </button>
      </div>
      <!-- Submit button -->
      <div
        class="d-flex justify-content-between align-items-center mb-4 mt-3"
        style="width: 80%"
      >
        <button [disabled]="BillingDetails.invalid" type="submit" (click)="onSubmit()" class="main-btn">
          Place Order
          <i *ngIf="IsLoading" class="fas fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>
  </div>
</div>
